/* main{
    background-color: var(--backgroundColor);
} */

.project-gallery-slider > img{
    width: 100%;
    height: 80vh;
    object-fit: cover;
    object-position: center;
}

.project-infos-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 32px 3rem;
}

.project-infos-left{
    flex: 0.65;
    padding-right: 42px;
}

.project-infos-right{
    background-color: blueviolet;
    flex: 0.35;
}

.project-basic-detail > h1{
    font-family: "Felix";
    font-size: 38px;
    color: var(--primaryTextColor);

}

.project-basic-detail > h5{
    font-family: "Quicksand-light";
    font-size: 20px;
}

.project-basic-detail > .status{
    margin: 14px 0px;
}

.project-basic-detail > .status > h5{
    font-family: "Quicksand-medium";
    font-size: 18px;
}

.project-basic-detail > .status > p{
    font-family: "Quicksand";
    font-size: 18px;
}

.project-basic-detail > hr{
    border: 0.5px solid var(--secondaryTextColor);
    margin: 24px 0px;
}

.project-basic-detail > .description > h2{
    font-family: "Felix";
    font-size: 20px;
}

.project-basic-detail > .description > p{
    padding: 14px 0px;
    font-family: "Gilroy";
    font-size: 16px;
    color: var(--secondaryTextColor);
}

.project-allinfos-section{
    background-color: var(--primaryCardColor);
    padding: 20px;
}

.project-allinfos-section > h1{
    font-family: "Felix";
    font-size: 20px;
    color: white;
}

.project-allinfos-section > .infos-section{
    display: flex;
    flex-wrap: wrap;
}

.info-card{
    display: flex;
    margin: 18px 32px;
    align-items: center;
    justify-content: center;
}

.info-card > img{
    margin-right: 16px;
    width: 42px;
    height: 42px;
}

.info-card > .info-detail > p{
    font-family: "Quicksand";
    font-size: 16px;
    color: #bfbfbf;
}

.info-card > .info-detail > h5{
    font-family: "Quicksand-medium";
    font-size: 16px;
    color: white;
}