.propertyHeaderImage{
    width: 100%;
    height: 320px;
    object-fit: cover;
    object-position: center;
}
.property_search_card_wrapper{
    width: 100%;
    display: flex;
    margin-top: -40px;
    flex-direction: column;
    z-index: 99;
    align-items: center;
}

.property_search_card_wrapper > .property_search_card{
    width: 1000px;
    box-shadow: var(--cardBoxShadow);

}

.property_search_card_wrapper .property_search{
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: white;
    border-bottom: 1px solid #e1e1e1;
}

.property_search_card_wrapper .property_search > input{
    font-family: "Gliroy";
    font-size: 16px;
    background-color: transparent;
    width: 100%;
    padding: 0px 24px;
}

.property_search_card_wrapper .property_search > input::placeholder{
    color: #0d0d0d;
}

.property_search_card_wrapper .property_search > button{
    background-color: var(--accentColor);
    color: white;
    outline: none;
    height: 40px;
    padding: 0px 32px;
}

.property_search_card_wrapper .filter-options{
    background-color: white;
    width: 100%;
    display: flex;
}

.property_search_card_wrapper .filter-options > button{
    max-width: 150px;
    padding: 5px 5px;
    background-color: white;
    border: 1px solid #bfbfbf;
    margin: 5px;
    border-radius: 4px;
    font-size: 14px;
    font-family: "Gliroy";
    color: var(--secondaryTextColor);
    text-align: start;
    min-width: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.property_search_card_wrapper .filter-options > button > span{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.property_search_card_wrapper .filter-options > button > i{
    flex-shrink: 0 ;
    padding: 0px 5px;
}

.property_result_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.property_result_cards{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    max-width: 1200px;
    padding: 20px;
    /* background-color:lawngreen ; */
}

.property_result_cards > .property_card{
    width: 340px;
    height: 400px;
    position: relative;
    overflow: hidden;
    margin: 20px;
}

.property_result_cards > .property_card > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 500ms ease;
}

.property_result_cards > .property_card > .card-content{
    position: absolute;
    display: none;
}

.property_result_cards > .property_card:hover > img{
    transform: scale(1.03);
    filter: blur(10px);
}
/* .property_result_cards > .property_card > img:hover{
} */

.property_result_cards > .property_card:hover >.card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    padding: 20px;
    left: 0;
    width: 100%;
    height: 100%;
}

.property_result_cards > .property_card:hover > .card-content > h1{
    font-family: "Gliroy-bold";
    color: white;
    font-size: 20px;
    padding-bottom: 14px;
    /* background-color: aqua; */
}

.property_result_cards > .property_card:hover > .card-content > p{
    font-size: 16px;
    color: #e1e1e1;
}

.property_result_cards > .property_card:hover > .card-content > p > i{
    padding: 0px 5px;
    
}

.property_result_cards > .property_card:hover > .card-content > button{
    padding: 5px 12px;
    border: 1px solid white;
    color: white;
    margin-top: 20px;
    transition: all 500ms ease;
}

.property_result_cards > .property_card:hover > .card-content > button:hover{
    padding: 5px 12px;
    background-color: var(--accentColor);
    color: white;
}