
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS STYLESHEETS -->
    <link rel="stylesheet" href="{% static 'css/main2.css' %}" />
    <link rel="stylesheet" href="{%static 'css/swiper.css'%}" />
    <link rel="stylesheet" href="{%static 'css/footer.css'%}" />
    <!-- <link rel="stylesheet" href="css/navbar.css" /> -->
    <script src="{% static 'js/swiper.min.js'%}"></script>

    <link href="{% static 'css/main.css'%}" rel="stylesheet" />
    <link href="{% static 'css/lightslider.css'%}" rel="stylesheet" />
    <!-- <link href="./custom.css" rel="stylesheet" /> -->
    <script src="{% static 'js/JQuery3.3.1.js' %}"></script>
    <script src="{% static 'js/lightslider.js' %}"></script>
    <script src="{% static 'js/lightSlider_script.js'%}"></script>
    <script src="{% static 'js/tilt.jquery.js'%}"></script>

    <link rel="stylesheet" href="{% static 'css/map_flyer.css'%}" />

    <script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css"
      rel="stylesheet"
    />

    <script src="{% static 'js/scrollcontroller.js'%}"></script>
    <script src="{% static 'js/theme_changer.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/themes.css' %}">

    <script src="{% static 'js/theme_switcher.js'%}"></script>

    <link rel="stylesheet" href="{% static 'css/featured.css' %}">



    <title>CivilHomes : Beta</title>

    <style>
      .swiper-container {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
        -webkit-mask-image: -webkit-linear-gradient(
          left,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 1),
          rgba(0, 0, 0, 1),
          rgba(0, 0, 0, 1),
          rgba(0, 0, 0, 1),
          rgba(0, 0, 0, 0)
        );
      }

      .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 60%;
        height: 59vh;
        border-radius: 20px;
      }

      @media only screen and (max-width: 780px) {
        .swiper-slide {
          height: 50vh;
        }
      }
    </style>
    <!-- Initialize Swiper -->
  </head>
  <body>
    <main>
      <!-- <div class="theme-switcher">
        <div class="theme-changer">
          <p>Night</p>
          <label class="switch">
            <input type="checkbox" onchange="change_theme()">
            <span class="slider round"></span>
          </label>

        </div>
      </div> -->



      <!-- FIRST SECTION -->
      <div class="firstSection">
        <div class="headerNavBar">
          <div class="logo">
            <img src="{% static 'images/logo.png'%}" alt="" />
          </div>

          <div class="centerHeaderContent">
            <ul>
              <li><a href="#!">Home</a></li>
              <li><a href="#!">About Us</a></li>
              <li><a href="#!">Projects</a></li>
              <li><a href="#!">About</a></li>
              <li><a href="#!">Contact</a></li>
            </ul>
          </div>

          <div class="rightHeaderContent">
            <svg
              id="searchIcon"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
            >
              <g data-name="Layer 2">
                <g data-name="search">
                  <rect width="24" height="24" opacity="0" />
                  <path
                    d="M20.71 19.29l-3.4-3.39A7.92 7.92 0 0 0 19 11a8 8 0 1 0-8 8 7.92 7.92 0 0 0 4.9-1.69l3.39 3.4a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 11a6 6 0 1 1 6 6 6 6 0 0 1-6-6z"
                  />
                </g>
              </g>
            </svg>
            <button class="authButton">Login</button>
            <div class="themeSwitch">
              <button id="themeSwitcher" class="themeSwitcherBtn" onclick="toggleDropDown()"><img id="themeSwitcherIcon" src="{% static 'images/icons/smiling-face-outline.svg'%}" alt=""></button>
              <div class="themesDropDown" id="themesDropDown">
                <button onclick="change_theme('Light')"><img src="{% static 'images/icons/sun-outline.svg'%}" alt="">
                Light</button>
                <button onclick="change_theme('Pleasant')">
                  <img src="{% static 'images/icons/smiling-face-outline.svg'%}" alt="">
                  Pleasant
                </button>
                <button onclick="change_theme('Dark')">
                  <img src="{% static 'images/icons/moon-outline.svg'%}" alt="">
                  Dark
                </button>
              </div>
            </div>
          </div>
        </div>



        <div class="detail-box">
          <div class="details-col header-textarea">
            <div class="detail-text">
              <h1>Our Latest Projects</h1>
              <p>
                CIVIL HOMES a trusted name in Real Estate business now an ISO
                9001:2008 Certified Company Built on its customers’ trust and
                support, Civil Homes strives to meet their ever-growing
                aspirations of a better living experience by bringing together
                the best of design, technology, and innovation in each project.
              </p>
            </div>

            <button class="explore-btn">Explore</button>
          </div>
          <div class="details-col header-slider-box">
            <!-- Swiper -->
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div
                  class="swiper-slide"
                  data-swiper-autoplay="2000"
                  style="background-image: url({% static 'images/CLR-1.jpg'%})"
                >
                  <!-- cards -->
                  <div class="header-card">
                    <div class="header-card-details">
                      <h3>Civil Luxury Residence</h3>
                      <p>
                        Located in the heart of the city, Civil Luxury Hometel
                        will be the first luxury apartment Hotel in Nepal with a
                        total of 265 rooms including 24 apartments.
                      </p>
                    </div>
                  </div>
                </div>


                <div
                  class="swiper-slide"
                  data-swiper-autoplay="2000"
                  style="background-image: url({% static 'images/dhapakhel-1-filter.jpg'%})"
                >
                  <!-- cards -->
                  <div class="header-card">
                    <div class="header-card-details">
                      <h3>Phase IV Dhapakhel</h3>
                      <p>
                        Amid the charm of Dhapakhel’s lush surrounding, away
                        from the city’s pollution and crowd but close enough to
                        reach the city centre in a few minutes’ drive, Civil
                        Homes’ Phase IV is a new city within the city! The
                        individual house structures are inspired from
                        traditional Nepali style, but at the core are defined by
                        modern engineering.
                      </p>
                    </div>
                  </div>
                </div>
                <div
                  class="swiper-slide"
                  data-swiper-autoplay="2000"
                  style="background-image: url({% static 'images/dhapakhel-1-filter.jpg'%})"
                >
                  <!-- cards -->
                  <div class="header-card">
                    <div class="header-card-details">
                      <h3>Western Homes</h3>
                      <p>
                        Lorem, ipsum dolor, sit amet consectetur adipisicing
                        elit. Labore, dolorem aperiam optio!
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Add Pagination -->
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <script>
            var swiper = new Swiper(".swiper-container", {
              effect: "coverflow",
              grabCursor: true,
              centeredSlides: true,
              slidesPerView: "auto",
              autoplay: {
                delay: 50000,
              },
              coverflowEffect: {
                rotate: 50,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows: true,
              },
              pagination: {
                el: ".swiper-pagination",
              },
            });
          </script>
        </div>

        <div class="scrollDownIndicator">
          <img src="{% static 'images/icons/arrow-ios-downward-outline.svg'%}" alt="" />
        </div>
      </div>





      <!-- SERVICE SECTION -->
      <div class="serviceSection">
        <div class="sectionHeader">
          <h4>Our Services</h4>
          <p>Discover a place you'll love to live.</p>
        </div>

        <div class="serviceCards">
          <div class="serviceCard">
            <div class="coverImage">
              <img
                src="{% static 'images/services/dhapakhel-2-filter-1024x531.jpg'%}"
                alt=""
              />
            </div>
            <div class="serviceCardContent">
              <h2>Individual Homes</h2>
              <p>
                Step into the privacy of a house, confirm security for your
                family, and turn it into your home. Civil Homes’ Individual
                Homes are designed to fit your needs, with ample green space
                where you can rejuvenate, re-connect, and rediscover the art of
                living.
              </p>
            </div>
          </div>
          <div class="serviceCard">
            <div class="coverImage">
              <img
                src="{% static 'images/services/divash-edit-1-of-1-678x1024.jpg'%}"
                alt=""
              />
            </div>
            <div class="serviceCardContent">
              <h2>High Rise Tower</h2>
              <p>
                A modern twist to communal living, the High Rise Towers of Civil
                Homes reflects and retains the comfort and facilities suitable
                for a nuclear family. Spacious despite the compact design, these
                apartments need very little maintenance, are budget friendly.
              </p>
            </div>
          </div>
          <div class="serviceCard">
            <div class="coverImage">
              <img
                src="{% static 'images/services/dhapakhel-4-filter-1024x678.jpg'%}"
                alt=""
              />
            </div>
            <div class="serviceCardContent">
              <h2>CTC Mall</h2>
              <p>
                Step into the privacy of a house, confirm security for your
                family, and turn it into your home. Civil Homes’ Individual
                Homes are designed to fit your needs, with ample green space
                where you can rejuvenate, re-connect, and rediscover the art of
                living.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- VIDEO SECTION -->

      <div class="videoSection">
        <div class="sectionHeader">
          <h3>
            First time in Nepal, Civil Homes brings in real 5-star Hotel
            experience at home with love.
          </h3>
          <p>That's the reason we love calling it 5-star Hometel.</p>
          <button>Download Brochuer</button>
        </div>
        <div class="player">

          <!-- <img src="images/player_back.png" alt="" /> -->
          <video id="videoSpeed" autoplay loop muted>
            <source src="{% static 'videos/y2mate.com - CLR COMBINE TVC_1080p.mp4'%}" type="video/mp4">
          </video>
          <!-- <button>
            <img src="images/icons/play_triangle.svg" alt="" />
          </button> -->
        </div>
      </div>

      <!-- SECOND SECTION -->
      <!-- <div class="secondSection">
        <section class="services">
          <div class="sectionHeader">
            <h4>Ongoing Projects</h4>
            <div class="headline-description mb-10">
              <div class="separator">
                <div class="line line-left"></div>

                <div class="asterisk">*</div>

                <div class="line line-right"></div>
              </div>
            </div>
          </div>

          <ul class="cS-hidden" id="autoWidth">
            <li class="item-a">
              <div class="card-slider">
                <div class="img-box">
                  <img
                    alt="background-1"
                    src="./images/services/dhapakhel-2-filter-1024x531.jpg"
                  />
                </div>

                <div class="card-content">
                  <h2>Individual Homes</h2>

                  <p>
                    Step into the privacy of a house, confirm security for your
                    family, and turn it into your home. Civil Homes’ Individual
                    Homes are designed to fit your needs, with ample green space
                    where you can rejuvenate, re-connect, and rediscover the art
                    of living.
                  </p>
                  <a class="btn text-green-600 font-bold" href="#!"
                    >Read More
                    <svg
                      class="w-3 inline-block"
                      fill="none"
                      stroke="currentColor"
                      viewbox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M17 8l4 4m0 0l-4 4m4-4H3"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                      ></path>
                    </svg>
                  </a>
                </div>
                <span
                  class="hover-cat opacity-0 rounded-2xl bg-red-500 text-white-100 uppercase absolute top-2 right-2 py-1 px-3 text-sm"
                  >Housing</span
                >
              </div>
            </li>
            <li class="item-a">
              <div class="card-slider">
                <div class="img-box">
                  <img
                    alt="background-1"
                    src="./images/services/divash-edit-1-of-1-678x1024.jpg"
                  />
                </div>

                <div class="card-content">
                  <h2>Housing Hub</h2>
                  <span>Kathmandu, Nepal</span>

                  <p>
                    A modern twist to communal living, the High Rise Towers of
                    Civil Homes reflects and retains the comfort and facilities
                    suitable for a nuclear family. Spacious despite the compact
                    design, these apartments need very little maintenance, are
                    budget friendly.
                  </p>
                  <a class="btn text-green-600 font-bold" href="#!"
                    >Read More
                    <svg
                      class="w-3 inline-block"
                      fill="none"
                      stroke="currentColor"
                      viewbox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M17 8l4 4m0 0l-4 4m4-4H3"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                      ></path>
                    </svg>
                  </a>
                </div>
                <span
                  class="hover-cat opacity-0 rounded-2xl bg-red-500 text-white-100 uppercase absolute top-2 right-2 py-1 px-3 text-sm"
                  >Housing</span
                >
              </div>
            </li>
            <li class="item-a">
              <div class="card-slider">
                <div class="img-box">
                  <img alt="background-1" src="./images/services/dhapakhel-2-filter-1024x531.jpg" />
                </div>

                <div class="card-content">
                  <h2>Housing Hub</h2>
                  <span>Kathmandu, Nepal</span>

                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Fugiat rerum ea exercitationem! ...
                  </p>
                  <a class="btn text-green-600 font-bold" href="#!"
                    >Read More
                    <svg
                      class="w-3 inline-block"
                      fill="none"
                      stroke="currentColor"
                      viewbox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M17 8l4 4m0 0l-4 4m4-4H3"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                      ></path>
                    </svg>
                  </a>
                </div>
                <span
                  class="hover-cat opacity-0 rounded-2xl bg-red-500 text-white-100 uppercase absolute top-2 right-2 py-1 px-3 text-sm"
                  >Housing</span
                >
              </div>
            </li>
            <li class="item-a">
              <div class="card-slider">
                <div class="img-box">
                  <img alt="background-1" src="./images/services/dhapakhel-2-filter-1024x531.jpg" />
                </div>

                <div class="card-content">
                  <h2>Housing Hub</h2>
                  <span>Kathmandu, Nepal</span>

                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Fugiat rerum ea exercitationem! ...
                  </p>
                  <a class="btn text-green-600 font-bold" href="#!"
                    >Read More
                    <svg
                      class="w-3 inline-block"
                      fill="none"
                      stroke="currentColor"
                      viewbox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M17 8l4 4m0 0l-4 4m4-4H3"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                      ></path>
                    </svg>
                  </a>
                </div>
                <span
                  class="hover-cat opacity-0 rounded-2xl bg-red-500 text-white-100 uppercase absolute top-2 right-2 py-1 px-3 text-sm"
                  >Housing</span
                >
              </div>
            </li>
            <li class="item-a">
              <div class="card-slider">
                <div class="img-box">
                  <img alt="background-1" src="./images/services/dhapakhel-2-filter-1024x531.jpg" />
                </div>

                <div class="card-content">
                  <h2>Housing Hub</h2>
                  <span>Kathmandu, Nepal</span>

                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Fugiat rerum ea exercitationem! ...
                  </p>
                  <a class="btn text-green-600 font-bold" href="#!"
                    >Read More
                    <svg
                      class="w-3 inline-block"
                      fill="none"
                      stroke="currentColor"
                      viewbox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M17 8l4 4m0 0l-4 4m4-4H3"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                      ></path>
                    </svg>
                  </a>
                </div>
                <span
                  class="hover-cat opacity-0 rounded-2xl bg-red-500 text-white-100 uppercase absolute top-2 right-2 py-1 px-3 text-sm"
                  >Housing</span
                >
              </div>
            </li>
            <li class="item-a">
              <div class="card-slider">
                <div class="img-box">
                  <img alt="background-1" src="./images/services/dhapakhel-2-filter-1024x531.jpg" />
                </div>

                <div class="card-content">
                  <h2>Housing Hub</h2>
                  <span>Kathmandu, Nepal</span>

                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Fugiat rerum ea exercitationem! ...
                  </p>
                  <a class="btn text-green-600 font-bold" href="#!"
                    >Read More
                    <svg
                      class="w-3 inline-block"
                      fill="none"
                      stroke="currentColor"
                      viewbox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M17 8l4 4m0 0l-4 4m4-4H3"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                      ></path>
                    </svg>
                  </a>
                </div>
                <span
                  class="hover-cat opacity-0 rounded-2xl bg-red-500 text-white-100 uppercase absolute top-2 right-2 py-1 px-3 text-sm"
                  >Housing</span
                >
              </div>
            </li>
          </ul>
        </section>
      </div> -->

      <!-- THIRD SECTION -->

      <!-- <div class="thirdSection">
        <div class="sectionHeader">
          <h3>Offers</h3>
        </div>
        <div class="offersRow">
          <div class="offersCol">
            <div class="offerCard">
              <div class="title">
                <h1>Test offers</h1>
              </div>
              <div class="description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat
                rerum ea exercitationem consectetur adipisicing elit. Fugiat
                rerum ea exercitationem consectetur adipisicing elit. Fugiat
                rerum ea exercitationem consectetur adipisicing elit. Fugiat
                rerum ea exercitationem .
              </div>
            </div>
          </div>
          <div class="offersCol">
            <div class="offerCard">
              <div class="title">
                <h1>Test offers</h1>
              </div>
              <div class="description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat
                rerum ea exercitationem consectetur adipisicing elit. Fugiat
                rerum ea exercitationem consectetur adipisicing elit. Fugiat
                rerum ea exercitationem consectetur adipisicing elit. Fugiat
                rerum ea exercitationem .
              </div>
            </div>
          </div>
          <div class="offersCol">
            <div class="offerCard">
              <div class="title">
                <h1>Test offers</h1>
              </div>
              <div class="description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat
                rerum ea exercitationem consectetur adipisicing elit. Fugiat
                rerum ea exercitationem consectetur adipisicing elit. Fugiat
                rerum ea exercitationem consectetur adipisicing elit. Fugiat
                rerum ea exercitationem .
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- <link rel="stylesheet" href="custom.css"> -->

      <!-- ABOUT SECTION -->
      <!-- <section class="bg-white-100 py-12 px-12 w-3/4 m-auto">
        <div class="md:flex md:justify-end relative tilt">
          <div
            class="py-16 px-16 bg-gray-100 w-2/4 absolute details-box shadow-lg"
          >
            <h3 class="font-bold text-3xl inline-block relative before-this mb-6">
              About <span class="brand-first">Civil</span>
              <span class="brand-last">Homes</span>
            </h3>

            <p class="text-align about-description">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut
              sapiente, exercitationem quo tempora eos a eius aliquam, voluptatem
              quae corrupti explicabo? Lorem, ipsum dolor sit amet consectetur
              adipisicing elit. Lorem, ipsum dolor sit amet consectetur
              adipisicing elit. Aut sapiente, exercitationem quo tempora eos a
              eius aliquam, voluptatem
            </p>
            <a class="read-more-btn" href="#!">Know More About Us</a>
          </div>

          <div class="w-2/3">
            <img
              alt="about image"
              class="w-full h-auto object-cover"
              src="images/dhapakhel-1-filter.jpg"
            />
          </div>
        </div>
      </section> -->

      <!-- FEATURED SECTION -->

      <div class="featuredSection">
        <div class="siteInfos">
          <div class="topInfo">
            <h1>
              PHASE XI - Boudha
            </h1>
            <p>Bringing a cosmopolitan flair amidst the jungle-
              clad backdrop of Gokarna, Civil Homes’ Phase XI
              in Boudda,Jorpati gives new meaning to nature
              and nurture. Just 4.2 km away from the
              CHUCHEPATI BUS STOP, Boudhanath Sadak, the
              housing complex is built on soil-tested ground that
              is surrounded by hill tops on the north. Since the
              housing complex sits across a hilltop, it is
              surrounded by abundance of greenery and trees
              all around giving the residence complex a feel of
              retreat home.</p>
              <img src="images/CLR-1.jpg" alt="">
          </div>
          <hr>
          <div class="captionInfo">
            <div class="caption">
              <h5>54</h5>
              <p>Housing Limits</p>
            </div>
            <div class="caption">
              <h5>12</h5>
              <p>Ongoing</p>
            </div>
            <div class="caption">
              <h5>25 ropanies</h5>
              <p>Area Built</p>
            </div>
          </div>
          <div class="moreInfo">
            <button>Explore the whole site</button>
          </div>
        </div>
        <div class="sitePlan">
          <div class="siteView">
            <div class="siteTypes">
              <button onclick="floorScrollController(A_G)" class="active">Type A</button>
              <button onclick="floorScrollController(S_G)">Type S</button>
              <button onclick="floorScrollController(SD_G)">Type S-dash</button>
            </div>
            <div id="siteViewPicture" class="siteViewPicture">
              <div class="type">
                <div id="A_G" class="floor">
                  <img src="{% static 'images/floor_plans/test_floor_plan1.png'%}" alt="">
                </div>
                <div id="A_F" class="floor">
                  <img src="{% static 'images/floor_plans/test_floor_plan2.png'%}" alt="">
                </div>
                <div id="A_S" class="floor">
                  <img src="{% static 'images/floor_plans/test_floor_plan3.png'%}" alt="">
                </div>
              <!-- </div>
              <div class="type"> -->
                <div id="S_G" class="floor">
                  <img src="{% static 'images/floor_plans/test_floor_plan1.png'%}" alt="">
                </div>
                <div id="S_F" class="floor">
                  <img src="{% static 'images/floor_plans/test_floor_plan2.png'%}" alt="">
                </div>
                <div id="S_S" class="floor">
                  <img src="{% static 'images/floor_plans/test_floor_plan3.png'%}" alt="">
                </div>
              <!-- </div>
              <div class="type"> -->
                <div id="SD_G" class="floor">
                  <img src="{% static 'images/floor_plans/test_floor_plan1.png'%}" alt="">
                </div>
                <div id="SD_F" class="floor">
                  <img src="{% static 'images/floor_plans/test_floor_plan2.png'%}" alt="">
                </div>
                <div id="SD_S" class="floor">
                  <img src="{% static 'images/floor_plans/test_floor_plan3.png'%}" alt="">
                </div>
              </div>

            </div>
            <div class="floors">
              <button onclick="floorScrollController(S_G)" class="active">Ground Floor</button>
              <button onclick="floorScrollController(S_F)">First Floor</button>
              <button onclick="floorScrollController(S_S)">Second Floor</button>

            </div>
          </div>
          <div class="siteOverview">
            <div class="header">
              <h1>Floor Plan Overview</h1>
            </div>
            <div class="floorPlanInfos">
              <div class="col">
                <div class="floorPlanInfo">
                  <h5>Built Up Area</h5>
                  <p>695.92 sq. ft.</p>
                </div>
                <div class="floorPlanInfo">
                  <h5>Living Room</h5>
                  <p>12'-0" X 11'-0"</p>
                </div>

              </div>
              <div class="col">
                <div class="floorPlanInfo">
                  <h5>Bedroom</h5>
                  <p>10'-3" X 12'-2"</p>
                </div>
                <div class="floorPlanInfo">
                  <h5>Bath</h5>
                  <p>6'-5" X 7'-9"</p>
                </div>

              </div>
              <div class="col">
                <div class="floorPlanInfo">
                  <h5>Dress</h5>
                  <p>5'-" X 7'-5"</p>
                </div>
                <div class="floorPlanInfo">
                  <h5>Kitchen/Dining</h5>
                  <p>12'-5"X12'-9"</p>
                </div>

              </div>
              <div class="col">
                <div class="floorPlanInfo">
                  <h5>Lobby</h5>
                  <p>9'-1" X 7'-9"</p>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>



      <!-- MAP SECTION -->
      <div class="mapContainer">
        <div class="sectionHeader">
          <h3>Ongoing Projects</h3>
          <p>Here are some of our ongoing projects.</p>
        </div>
        <div class="mapSection">
          <div class="map" id="map"></div>
          <div class="mapInfo">
            <div class="tabs">
              <ul>
                <li>
                  <a
                    class="active"
                    id="phaseI_tab"
                    onclick="scrollController(phaseI)"
                    >Phase I</a
                  >
                </li>
                <li>
                  <a id="phaseII_tab" onclick="scrollController(phaseII)"
                    >Phase II</a
                  >
                </li>
                <li>
                  <a id="phaseIII_tab" onclick="scrollController(phaseIII)"
                    >Phase III</a
                  >
                </li>
                <li>
                  <a id="phaseIV_tab" onclick="scrollController(phaseIV)"
                    >Phase IV</a
                  >
                </li>
                <li>
                  <a id="phaseV_tab" onclick="scrollController(phaseV)"
                    >Phase V</a
                  >
                </li>
                <li>
                  <a id="phaseVI_tab" onclick="scrollController(phaseVI)"
                    >Phase VI</a
                  >
                </li>
                <li>
                  <a id="phaseVII_tab" onclick="scrollController(phaseVII)"
                    >Phase VII</a
                  >
                </li>
                <li>
                  <a id="phaseVIII_tab" onclick="scrollController(phaseVIII)"
                    >Phase VIII</a
                  >
                </li>
                <li>
                  <a id="phaseIX_tab" onclick="scrollController(phaseIX)"
                    >Phase IX</a
                  >
                </li>
                <li>
                  <a id="phaseX_tab" onclick="scrollController(phaseX)"
                    >Phase X</a
                  >
                </li>
              </ul>
            </div>
            <div class="mapCards" id="mapCards">
              <div class="mapCard active" id="phaseI">
                <div class="headerImage">
                  <img src="{% static 'images/services/dhapakhel-4-filter-1024x678.jpg'%}" />
                </div>
                <h3>Phase I</h3>
                <p>
                  Walter writes to Oberstein and convinces him to meet in the
                  smoking room of the Charing Cross Hotel where he promises
                  additional plans for the submarine in exchange for money. The
                  plan works and Holmes and Watson catch both criminals.
                </p>
                <div class="mapViewDetail">
                  <button>View Detail</button>
                </div>
              </div>
              <div class="mapCard" id="phaseII">
                <div class="headerImage">
                  <img src="{% static 'images/services/divash-edit-1-of-1-678x1024.jpg'%}" />
                </div>
                <h3>Phase II</h3>
                <p>
                  Walter writes to Oberstein and convinces him to meet in the
                  smoking room of the Charing Cross Hotel where he promises
                  additional plans for the submarine in exchange for money. The
                  plan works and Holmes and Watson catch both criminals.
                </p>
                <div class="mapViewDetail">
                  <button>View Detail</button>
                </div>
              </div>
              <div class="mapCard" id="phaseIII">
                <div class="headerImage">
                  <img src="{% static 'images/services/dhapakhel-2-filter-1024x531.jpg'%}" />
                </div>
                <h3>Phase III</h3>
                <p>
                  Walter writes to Oberstein and convinces him to meet in the
                  smoking room of the Charing Cross Hotel where he promises
                  additional plans for the submarine in exchange for money. The
                  plan works and Holmes and Watson catch both criminals.
                </p>
                <div class="mapViewDetail">
                  <button>View Detail</button>
                </div>
              </div>
              <div class="mapCard" id="phaseIV">
                <div class="headerImage">
                  <img src="{% static 'images/services/divash-edit-1-of-1-678x1024.jpg'%}" />
                </div>
                <h3>Phase IV</h3>
                <p>
                  Walter writes to Oberstein and convinces him to meet in the
                  smoking room of the Charing Cross Hotel where he promises
                  additional plans for the submarine in exchange for money. The
                  plan works and Holmes and Watson catch both criminals.
                </p>
                <div class="mapViewDetail">
                  <button>View Detail</button>
                </div>
              </div>
              <div class="mapCard" id="phaseV">
                <div class="headerImage">
                  <img src="{% static 'images/services/divash-edit-1-of-1-678x1024.jpg'%}" />
                </div>
                <h3>Phase V</h3>
                <p>
                  Walter writes to Oberstein and convinces him to meet in the
                  smoking room of the Charing Cross Hotel where he promises
                  additional plans for the submarine in exchange for money. The
                  plan works and Holmes and Watson catch both criminals.
                </p>
                <div class="mapViewDetail">
                  <button>View Detail</button>
                </div>
              </div>
              <div class="mapCard" id="phaseVI">
                <div class="headerImage">
                  <img src="{% static 'images/services/divash-edit-1-of-1-678x1024.jpg'%}" />
                </div>
                <h3>Phase VI</h3>
                <p>
                  Walter writes to Oberstein and convinces him to meet in the
                  smoking room of the Charing Cross Hotel where he promises
                  additional plans for the submarine in exchange for money. The
                  plan works and Holmes and Watson catch both criminals.
                </p>
                <div class="mapViewDetail">
                  <button>View Detail</button>
                </div>
              </div>
              <div class="mapCard" id="phaseVII">
                <div class="headerImage">
                  <img src="{% static 'images/services/divash-edit-1-of-1-678x1024.jpg'%}" />
                </div>
                <h3>Phase VII</h3>
                <p>
                  Walter writes to Oberstein and convinces him to meet in the
                  smoking room of the Charing Cross Hotel where he promises
                  additional plans for the submarine in exchange for money. The
                  plan works and Holmes and Watson catch both criminals.
                </p>
                <div class="mapViewDetail">
                  <button>View Detail</button>
                </div>
              </div>
              <div class="mapCard" id="phaseVIII">
                <div class="headerImage">
                  <img src="{% static 'images/services/divash-edit-1-of-1-678x1024.jpg'%}" />
                </div>
                <h3>Phase VIII</h3>
                <p>
                  Walter writes to Oberstein and convinces him to meet in the
                  smoking room of the Charing Cross Hotel where he promises
                  additional plans for the submarine in exchange for money. The
                  plan works and Holmes and Watson catch both criminals.
                </p>
                <div class="mapViewDetail">
                  <button>View Detail</button>
                </div>
              </div>
              <div class="mapCard" id="phaseIX">
                <div class="headerImage">
                  <img src="{% static 'images/services/divash-edit-1-of-1-678x1024.jpg'%}" />
                </div>
                <h3>Phase IX</h3>
                <p>
                  Walter writes to Oberstein and convinces him to meet in the
                  smoking room of the Charing Cross Hotel where he promises
                  additional plans for the submarine in exchange for money. The
                  plan works and Holmes and Watson catch both criminals.
                </p>
                <div class="mapViewDetail">
                  <button>View Detail</button>
                </div>
              </div>
              <div class="mapCard" id="phaseX">
                <div class="headerImage">
                  <img src="{% static 'images/services/divash-edit-1-of-1-678x1024.jpg'%}" />
                </div>
                <h3>Phase X</h3>
                <p>
                  Walter writes to Oberstein and convinces him to meet in the
                  smoking room of the Charing Cross Hotel where he promises
                  additional plans for the submarine in exchange for money. The
                  plan works and Holmes and Watson catch both criminals.
                </p>
                <div class="mapViewDetail">
                  <button>View Detail</button>
                </div>
              </div>
            </div>
          </div>
          <script src="{% static 'js/map_flyer.js'%}"></script>
        </div>
      </div>

      <!-- FIND HOME SECTION -->

      <div class="findHomeSection">
        <div class="backgroundimage">
          <div class="findHomeContent">
            <h3>Let us help to find your new dream home.</h3>
            <div class="findHomeForm">
              <input type="text" placeholder="Type Something Here..." />
              <button>Search</button>
            </div>
          </div>
        </div>
      </div>

      <!-- ASSOCIATES SECTION -->
      <div class="forthSection">
        <h1>Our Associates Companies</h1>
        <ul class="cS-hidden" id="companiesSlider">
          <li class="item-a">
            <div class="companiesTiles">
              <img src="{% static 'images/companies/Civil-Apartment-Pvt-Ltd.jpg'%}" alt="" />
            </div>
          </li>
          <li class="item-a">
            <div class="companiesTiles">
              <img src="{% static 'images/companies/Civil-Bank-Pvt-Ltd.jpg'%}" alt="" />
            </div>
          </li>
          <li class="item-a">
            <div class="companiesTiles">
              <img
                src="{% static 'images/companies/Civil-Capital-Market-Pvt-Ltd.jpg'%}"
                alt=""
              />
            </div>
          </li>
          <li class="item-a">
            <div class="companiesTiles">
              <img src="{% static 'images/companies/Civil-Estates-Pvt-Ltd.jpg'%}" alt="" />
            </div>
          </li>
          <li class="item-a">
            <div class="companiesTiles">
              <img src="{% static 'images/companies/Civil-Furniture.jpg'%}" alt="" />
            </div>
          </li>
          <li class="item-a">
            <div class="companiesTiles">
              <img src="{% static 'images/companies/civil-group.jpg'%}" alt="" />
            </div>
          </li>
          <li class="item-a">
            <div class="companiesTiles">
              <img src="{% static 'images/companies/civil-rmc.jpg'%}" alt="" />
            </div>
          </li>
          <li class="item-a">
            <div class="companiesTiles">
              <img
                src="{% static 'images/companies/Civil-Savings-and-Co-op-Logo.jpg'%}"
                alt=""
              />
            </div>
          </li>
          <li class="item-a">
            <div class="companiesTiles">
              <img src="{% static 'images/companies/CTC-Mall.jpg'%}" alt="" />
            </div>
          </li>
        </ul>
      </div>

      <!-- LOCATION MAP SECTION -->
      <div class="locationSection">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3313.526798787573!2d85.26927769854049!3d27.70742831234713!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb227f3edd972b%3A0xa667e251c9b31376!2sCivil%20Homes%20Phase%20VII!5e0!3m2!1sen!2snp!4v1612910960121!5m2!1sen!2snp"
          height="320"
          frameborder="0"
          style="border: 0"
          allowfullscreen=""
          aria-hidden="false"
          tabindex="0"
        ></iframe>
      </div>

      <!-- New Footer -->
      <div class="footer">
        <div class="footerContent">
          <div class="footerLogo">
            <img src="images/logo.png" alt="" />
            <!-- <h2>Civil Homes</h2> -->
          </div>
          <div class="sections">
            <div class="contactSection">
              <h4 class="sectionTitle">Contact Us</h4>
              <p>Soalteemode, Kalimati</p>
              <p>sales@civilgroup.com.np</p>
              <p>Phone: 977-14030726/627/628</p>
              <p>Fax: 977-140307613</p>
            </div>
            <div class="ourProjects1">
              <h4 class="sectionTitle">Ongoing Projects</h4>
              <p>Phase IV Dhapakhel</p>
              <p>Phase IV Dhapakhel Apartment</p>
              <p>Phase VII Sitapaila</p>
              <p>Phase IX - Godawari</p>
            </div>
            <div class="ourProjects2">
              <h4 class="sectionTitle"></h4>
              <p>Civil Residence</p>
              <p></p>
              <p></p>
              <p></p>
            </div>
            <div class="subscribe">
              <h4 class="sectionTitle">SUBSCRIBE</h4>
              <div class="description">
                Subscribe us to get latest news, offers and notices about Civil
                Homes.
              </div>
              <div class="subscribeForm">
                <input
                  type="text"
                  placeholder="Email"
                  style="box-shadow: 0 0 2px #333333"
                />
                <button>Subscribe</button>
              </div>
            </div>
          </div>
        </div>
        <div class="footerFrame">
          <div class="cityBackground">
            <img src="{% static 'images/city_background_pleasant.png'%}" alt="" />
          </div>
          <div class="copyrightContainer">
            <p>© Civil Homes Pvt. Ltd. All Rights Reserved. 2012-2021</p>
            <div class="socialMedia" style="display: flex">
              <img src="{% static 'images/facebook.svg'%}" id="facebook" alt="" />
              <img src="{% static 'images/twitter.svg'%}" id="twitter" alt="" />
              <img src="{% static 'images/youtube.svg'%}" id="youtube" alt="" />
            </div>
          </div>
        </div>
      </div>
    </main>

    <script>
      $(document).ready(function () {
        $(".tilt").tilt({
          maxTilt: 3,
          glare: true,
          maxGlare: 0.4,
        });

        $(".nav-toggler").each(function (_, navToggler) {
          var target = $(navToggler).data("target");
          $(navToggler).on("click", function () {
            $(target).animate({
              height: "toggle",
            });
          });
        });
      });
    </script>

<script src="{% static 'js/main.js'%}"></script>
  </body>
</html>
