.blog-header-image{
    width: 100%;    
    height: 400px;
}

.blog-header-image > img{
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-header-image::after{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0,0,0,0.1));
}

.blog-wrapper{
    margin: 42px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-wrapper > .blog-header{
    max-width: 800px;    
    margin: 32px 0px;

}

.blog-wrapper > .blog-header > h1{
    font-size: 42px;
    font-family: "Gliroy-bold";
    line-height: 1.1;
    margin-bottom: 16px;
}

.blog-wrapper > .blog-header > p{
    font-family: "Gliroy";
    font-size: 16px;
    color: var(--secondaryTextColor);
}

.blog-wrapper > .blog-header > img{
    height: 400px;
    flex-grow: 1;
    display: flex;
    width: 100%;
    padding: 20px 0px;
    object-fit: cover;
    object-position: center;
}

.blog-wrapper > .blog-content{
    max-width: 800px; 
    display: flex;
    flex-direction: column;
    font-family: "Gliroy";
}

.blog-wrapper > .blog-content > p{
    font-size: 16px;
    padding: 5px 0px;
}

.blog-wrapper > .blog-content > h4{
    font-size: 20px;
    font-family: "Gliroy-bold";
    padding: 8px 0px;
}
