
/* CONSTANTS */

*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}


/* FOOTER CONTENT */

.footer{
    padding-top: 1rem;
    background-color: var(--footerBackgroundColor);
}

.footerContent{
    padding: 0px 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.footerLogo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footerLogo h2{
    font-size: 24px;
    margin:0px 16px;
    color: #F1F1F1;
    font-family: Gliroy-bold;
}

.footerLogo img{
    height: 42px;
    margin:14px 0px;
}

.sections{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

/* FOOTER SECTIONS */

.sections div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.contactSection p{
    color: #BFBFBF !important; 
}

.sections div p{
    margin: 4px 0px;
    color: #a6a6a6;
    cursor: pointer;
    font-size: 16px;
    font-family: Quicksand;
}

.sections div p:hover{
    margin: 4px 0px;
    color: #f1f1f1;
}

.sectionTitle{
    font-size: 18px;
    margin: 8px 0px;
    color:#f1f1f1;
    font-family: Quicksand;
    font-weight: 300;
}

.subscribe .description{
    width: 260px;
    color: #a6a6a6;
}

.subscribe .subscribeForm{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 14px;
}

.subscribe .subscribeForm input{
    font-size: 16px;
    background-color: var(--footerBackgroundColor);
    padding: 5px 8px;
    border-radius: 4px;
    border: 1px solid var(--primaryColor);
    -webkit-box-shadow: 0 0 2px #a6a6a6;
            box-shadow: 0 0 2px #a6a6a6;
}

.subscribe .subscribeForm button{
    font-size: 14px;
    margin-left: 10px;
    background-color: #E61D1D;
    padding: 5px 12px;
    border-radius: 4px;
    border: none;
    color: white;
}

.locationSection{
    background-color: var(--backgroundColor);
}


/* FOOTER FRAME */

.footerFrame{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    line-height: 0;
    margin-top: 20px;
}
.cityBackground img{
    width: 100%;
}

.copyrightContainer{
    padding: 0px 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 40px;
    background-color: var(--footerCopyrightColor);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}


.copyrightContainer p{
    font-family: Quicksand;
    font-size: 14px;
    color: white;
}

.socialMedia{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
}

.socialMedia img{
    width: 20px;
    margin: 0px 6px;
    float:left;
}

/* TODO: ICON CORRECTION */

/* #facebook:hover{
    filter: brightness(0) saturate(100%) invert(34%) sepia(12%) saturate(2320%) hue-rotate(188deg) brightness(94%) contrast(87%);
}
#twitter:hover{
    filter: brightness(0) saturate(100%) invert(83%) sepia(42%) saturate(7083%) hue-rotate(180deg) brightness(100%) contrast(90%);
}
#youtube:hover{
    filter: brightness(0) saturate(100%) invert(11%) sepia(97%) saturate(5625%) hue-rotate(357deg) brightness(90%) contrast(92%);
} */

@media only screen and (max-width: 850px) {

    .sections{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
}

@media only screen and (max-width: 520px) {

    .sections{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}